/* General styles */
:root{
    --font: georgia;

}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;

    font-family: sans-serif;
}

h1, h2, h3, p{
    margin: 0;
}

/* ->General Styles */

/* Header Styles */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.header__image{
    max-width: 55px;
}

.header__container-word{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 160px;
    max-width: 160px;

}

.header__wordmark{
    max-width: 152px;
}

.header__subtitle{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
}

/* ->Header Styles */

/* Main Styles */

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-bottom: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.295);
}

/* ->Main Styles */


/* Section-Languages Styles */

.languages{
    order: 2;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    margin-top: 20px;
    width: 100%;
}

.languages__lang{
    margin-bottom: 20px;
}

.languages__title{
    display: flex;
    flex-direction: column;

    font-size: 1.4rem;
    font-weight: 750;
    text-align: center;

    color: #36c;
    text-decoration: none;
}

/* .languages__lang:hover,.languages__title:hover{
    text-decoration: underline;
    background-color: #eaecf0;
}

.languages__number-articles:hover{
    text-decoration: transparent;
} */

.languages__number-articles{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10px;
    width: 100%;

    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
    line-height: 1.5;

    color: #54595d;
    text-decoration: none;
}

/* ->Section-Languages Styles */

/* Section-Search bar Styles */

 .search-bar{
    order: 1;

    display: flex;
    justify-content: space-evenly;

    width: 95%;
    height: 45px;
    margin-top: 10px;
    overflow: hidden;

    border: 1px solid rgba(0, 0, 0, 0.315);
    border-radius: 5px;
}

.search__input:focus, .search-bar:hover{
    border-color:#36c;
}

.search__input{
    width: 70%;

    font-size: 1.8rem;

    border: none;
    outline: none;
}

.search-bar__pack-lang{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-right: 10px;
}

.search-bar__lang{
    font-size: 1.2rem;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.664);
}

.search-bar__icon-down-arrow{
    color: rgba(0, 0, 0, 0.664);
}

.search-bar__icon-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    font-size: 2.9rem;
    color: #fff;
    background-color: #36c ;
    border-radius: 0 3px 3px 0;
} 

/* ->Section-Search bar Styles */

/* Section-Change lang bar */

.change-lang-bar{
    order: 3;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 75%;
    padding: 5px 0;

    color: #36c;
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1

}

.change-lang-bar__icon-lang{
    font-size: 2.1rem;
}

.change-lang-bar__text{
    font-size: 1.4rem;
    font-weight: 700;
}

.change-lang-bar__icon-down-arrow{
    font-size: 2.2rem;
}

/* ->Section-Change lang bar */

