/* General styles */
:root{
    --font: georgia;

}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;

    font-family: sans-serif;
}

h1, h2, h3, p{
    margin: 0;
}

/* ->General Styles */

/* Header Styles */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.header__image{
    max-width: 55px;
}

.header__container-word{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 160px;
    max-width: 160px;

}

.header__wordmark{
    max-width: 152px;
}

.header__subtitle{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
}

/* ->Header Styles */

/* Main Styles */

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-bottom: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.295);
}

/* ->Main Styles */


/* Section-Languages Styles */

.languages{
    order: 2;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    margin-top: 20px;
    width: 100%;
}

.languages__lang{
    margin-bottom: 20px;
}

.languages__title{
    display: flex;
    flex-direction: column;

    font-size: 1.4rem;
    font-weight: 750;
    text-align: center;

    color: #36c;
    text-decoration: none;
}

/* .languages__lang:hover,.languages__title:hover{
    text-decoration: underline;
    background-color: #eaecf0;
}

.languages__number-articles:hover{
    text-decoration: transparent;
} */

.languages__number-articles{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10px;
    width: 100%;

    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
    line-height: 1.5;

    color: #54595d;
    text-decoration: none;
}

/* ->Section-Languages Styles */

/* Section-Search bar Styles */

 .search-bar{
    order: 1;

    display: flex;
    justify-content: space-evenly;

    width: 95%;
    height: 45px;
    margin-top: 10px;
    overflow: hidden;

    border: 1px solid rgba(0, 0, 0, 0.315);
    border-radius: 5px;
}

.search__input:focus, .search-bar:hover{
    border-color:#36c;
}

.search__input{
    width: 70%;

    font-size: 1.8rem;

    border: none;
    outline: none;
}

.search-bar__pack-lang{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-right: 10px;
}

.search-bar__lang{
    font-size: 1.2rem;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.664);
}

.search-bar__icon-down-arrow{
    color: rgba(0, 0, 0, 0.664);
}

.search-bar__icon-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    font-size: 2.9rem;
    color: #fff;
    background-color: #36c ;
    border-radius: 0 3px 3px 0;
} 

/* ->Section-Search bar Styles */

/* Section-Change lang bar */

.change-lang-bar{
    order: 3;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 75%;
    padding: 5px 0;

    color: #36c;
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1

}

.change-lang-bar__icon-lang{
    font-size: 2.1rem;
}

.change-lang-bar__text{
    font-size: 1.4rem;
    font-weight: 700;
}

.change-lang-bar__icon-down-arrow{
    font-size: 2.2rem;
}

/* ->Section-Change lang bar */

/* Footer Section */


/* ->Footer Section */

/* Message Styles */

.message{
    margin-top: 12px;
    margin-bottom: 30px;

    text-align: center;
}

.message__icon{
    display: inline-block;

    width: 50px;
    height: 50px;
    margin-bottom: 15px;

    background-image: url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/sprite-d7502d35.svg);
    background-repeat: no-repeat;
    background-position: 4px -206px;
}

.message__description{
    font-size: 1.3rem;
    line-height: 1.5;
    color: #54595d;
}

.message__link{
    font-size: 1.3rem;
    line-height: 1.5;

    color: #36c;
    text-decoration: none;
}


/* ->Message Styles */

/* Pages Styles */

.pages{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.page{
    display: flex;
    justify-content: space-evenly;

    padding: 16px 0px;
}

.page__icon{
    width: 50px;
    height: 50px;

    background-image: url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/sprite-d7502d35.svg);
    background-repeat: no-repeat;
    background-position: 3px -206px;
}

.page__icon--commons{
    background-position: 3px 0px;
}

.page__icon--wikiviajes{
    height: 35px;
    margin-top: 5px;

    background-position: 3px -445px;
}

.page__icon--wikcionario{
    height: 40px;
    margin-top: 5px;

    background-position: 10px -480px;
}

.page__icon--wikilibros{
    margin-top: 5px;

    background-position: 3px -126px;
}

.page__icon--wikinoticias{
    margin-top: 10px;

    background-image: url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikinews-logo_sister.png);
    background-position: 0 0;
}

.page__icon--wikidata{
    height: 45px;
    margin-top: 12px;

    background-position: 3px -165px;
}

.page__icon--wikidiversidad{
    height: 35px;
    margin-top: 10px;

    background-position: 3px -410px;
}

.page__icon--wikiquote{
    height: 42px;
    margin-top: 4px;

    background-position: 3px -285px;
}

.page__icon--mediawiki{
    height: 40px;
    margin-top: 5px;

    background-position: 3px -47px;
}

.page__icon--wikisource{
    height: 40px;
    margin-top: 5px;

    background-position: 3px -328px;
}

.page__icon--wikispecies{
    height: 40px;
    margin-top: 5px;

    background-position: 3px -368px;
}

.page__icon--metawiki{
    height: 37px;
    margin-top: 18px;

    background-position: 3px -89px;
}

.page__text{
    width: 60%;
}

.page__title{
    margin-bottom: 5px;
    font-size: 1.4rem;
    font-weight: 100;

    color: #36c;
}

.page__parag{
    font-size: 1.3rem;
    line-height: 1.5;

    color: #54595d;
}

/* ->Pages Styles */